<config>
    <modules>
        <Tsoi_Comment>
            <version>0.1.0</version>
        </Tsoi_Comment>
    </modules>
    <frontend>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <tsoi_comment>
                        <class>tsoi_comment/observer</class>
                        <method>checkout_cart_product_add_after</method>
                        <type>model</type>
                    </tsoi_comment>
                </observers>
            </checkout_cart_product_add_after>
        </events>
        <routers>
            <tsoi_comment>
                <use>standard</use>
                <args>
                    <module>Tsoi_Comment</module>
                    <frontName>tsoi_comment</frontName>
                </args>
            </tsoi_comment>
        </routers>
        <translate>
            <modules>
                <Tsoi_Comment>
                    <files>
                        <default>Tsoi_Comment.csv</default>
                    </files>
                </Tsoi_Comment>
            </modules>
        </translate>
        <layout>
            <updates>
                <tsoi_comment module="tsoi_comment">
                    <file>tsoi_comment.xml</file>
                </tsoi_comment>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <tsoi_comment_setup>
                <setup>
                    <module>Tsoi_Comment</module>
                </setup>
            </tsoi_comment_setup>
        </resources>
        <models>
            <tsoi_comment>
                <class>Tsoi_Comment_Model</class>
                <resourceModel>tsoi_comment_resource</resourceModel>
            </tsoi_comment>
            <tsoi_comment_resource>
                <class>Tsoi_Comment_Model_Resource</class>
                <entities>
                    <new>
                        <table>tsoi_comment_new</table>
                    </new>
                </entities>
            </tsoi_comment_resource>
        </models>
        <blocks>
            <tsoi_comment>
                <class>Tsoi_Comment_Block</class>
            </tsoi_comment>
        </blocks>
        <helpers>
            <tsoi_comment>
                <class>Tsoi_Comment_Helper</class>
            </tsoi_comment>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tsoi_comment before="Mage_Adminhtml">Tsoi_Comment_Adminhtml</tsoi_comment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <tsoi_comment>
            <settings>
                <enabled>1</enabled>
                <block_count>22</block_count>
            </settings>
        </tsoi_comment>
    </default>
</config>